* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html,
body {
    /* background-color: rgb(48 65 62 / 48%); */
    background-color: white;
    overflow-x: hidden;
}

nav {
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;

}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(4, 4, 44);
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
   font-family: serif;
}

nav ul li a:hover {
    background-color: #6b0652;
    color: white;
    transition: all 1s ease;
}

a.active {
    background-color: #6b0652;
    color: white;
}


a:hover {
    background-color: #6b0652;
    color: white;
    transition: .5s;
}

.checkbtn {
    font-size: 20px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    color: rgb(0, 0, 0);
}


#check {
    display: none;
}

.logo img {
    margin-top: -4%;
    height: 200px;
    cursor: pointer;
}

#find {
    height: 40px;
    width: 40%;
    margin-left: -115%;
    border-radius: 90px;
    border: 1px solid black;

}

input::placeholder {
    color: black;
    padding-left: 5%;
    font-size: 15px;
    font-weight: bold;
}

input {
    font-size: 20px;


}

.ri-search-line {
    margin-top: 1%;
    margin-left: -5.5%;
    font-size: 20px;
}






.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
   font-family: serif;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #d6d1d1;
    font-weight: bold;
    font-family: serif;

}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: #6b0652;
    border-radius: 30px;
    color: white;

}


.men {
  
    height: 70vh;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(Auto-fit, minmax(250px, 1fr));

}

.m {
    background-color: white;
    height: 40vh;
    width: 70%;
    /* border: 1px solid rgb(141, 138, 138); */
    margin-top: 35%;
    cursor: pointer;
    margin-left: 18%;
    padding: 34px;
}
.m:hover{
    transform: scale(1.1);
}

.n{
    background-color: white;
    height: 40vh;
    width: 70%;
    /* border: 1px solid rgb(141, 138, 138); */
    box-shadow: 2px 2px 30px black;
    margin-left: 18%;
    padding: 34px;
    cursor: pointer;

}
.n:hover{
    transform: scale(1.1);
}
#M7{
    background-image: url(image/Melon\ Women\'s\ Clothing\ Promotional\ Instagram\ Post.png);
    background-size: cover;
}
#M5{
    background-image: url(image/Brown\ and\ White\ Aesthetic\ Casual\ Clothes\ Instagram\ Post\ \(1\).png);
    background-size: cover;
}
#M6{
    background-image: url(image/o.png);
    background-size: cover;
}
#M4{
    background-image: url(image/Orange\ Cream\ Illustration\ Easy\ Online\ Shopping\ Instagram\ Post.png);
    background-size: cover;
}
#M{
    background-image: url(https://img.freepik.com/premium-vector/modern-fashion-sale-banner_1340-15881.jpg);
    background-size: cover;
    box-shadow: 2px 2px 30px black;
}
#M1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJnuOAPcjSSj6WdYdXtunUWqM16qTbIvHAuw5hiVrEqePTKSwCHSdbiZF3O9LzG_F2eg0&usqp=CAU);
    background-size: cover;
    box-shadow: 2px 2px 30px black;

}

#M2{
    background-image: url(image/1\ \(1\).png);
    background-size: cover;
    box-shadow: 2px 2px 30px black;
}
#M2:hover{
    background-image: url(image/2\ \(1\).png);
    background-size: cover;
    box-shadow: 2px 2px 30px black;
}

#M3{
    background-image: url(image/1\ \(2\).png);
    background-size: cover;
    box-shadow: 2px 2px 30px black;
}

#M3:hover{
    background-image: url(image/1\ \(3\).png);
    background-size: cover;
    box-shadow: 2px 2px 30px black;
}
.of{
    height: 60vh;
}
.off{
    height: 40vh;
    width: 100%;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/1600/270/image/4d414532793b8b96.png?q=20);
    background-size: cover;
}


hr{
    color: black;
    margin-top: 1%;
}
.footer {
    margin-top: .1%;
    background-color:white;
    height: 40vh;
    width: 100%;
}

.foo {
    height: 20vh;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(Auto-fit, minmax(250px, 1fr));

}

.fo {
    height: 20vh;
    width: 70%;
    /* border: 1px solid white;  */
    margin-top: -10%;
    margin-left: 18%;
    padding: 34px;
    cursor: pointer;
}

.fo img {
    
    cursor: pointer;
}


.fo1 {
    height: 10vh;
    width: 70%;
    /* border: 1px solid white;  */
    margin-top: 10%;
    margin-left: 29%;
    padding: 34px;

}


h4 {
    margin-top: 15%;
    color:black;
    /* text-align: center; */
    margin-bottom: 5%;
    cursor: pointer;

}

.fo1 a {
    font-size: 40px;
    color: black;
    padding-left: 20px;
    /* border: 1px solid white;  */
    border-radius: 40px;

    /* background-color: white; */
}

h5 {
    color:black;
    width: 80%;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    margin-left: 9%;


}

#list{
    margin-left: -57%;
}

.fo1 a:hover {
    background-color:  #bbb9b9;
}

.fo a {

    color:black;
}

.fo a:hover {

    color: gray;
}










@media(max-width:1040px){
    nav ul {
        float: right;
        margin-right: -230px;
    }

    .logo img {
        margin-top: -6%;
        margin-left: -2%;
    }
    #find {
        width: 26%;
        margin-left: -93%;
    }
    .m{
        height: 44vh;
    }
    .n{
        height: 44vh;
    }
    
    .men{
        height: 137vh;
    }
    div#M3 {
        margin-left: 122%;
    }
    div#M7 {
        margin-left: 122%;
    }
    .of {
        height: 55vh;
        margin-top: 5%;
    }
     .footer {
        height: 46vh;
    }
    #list {
        margin-left: -76%;
    }
    .fo1 {
        height: 10vh;
        width: 102%;
        /* border: 1px solid white; */
        margin-top: 10%;
        margin-left: -16%;
        padding: 34px;
    }
    .fo img {
        cursor: pointer;
        height: 120px;
        margin-left: -32%;
        margin-top: 16%;
    }
}

@media(max-width:1000px){
    #list {
        margin-left: -97%;
    }
    .m {
        height: 40vh;
    }
    .n {
        height: 40vh;
    }
    .men {
        height: 121vh;
    }
}


@media(max-width:950px){
    .m {
        height: 38vh;
    }
    .men {
        height: 117vh;
    }
    .n {
        height: 38vh;
    }
    .off{
        height: 32vh;
    }
    .of {
        height: 47vh;
        }
}

@media(max-width:900px){

    .fo img {
        cursor: pointer;
        height: 123px;
        margin-top: 23%;
    }
    #list {
        margin-left: -109%;
    }
    .footer {
        height: 49vh;
    }
    .m {
        height: 36vh;
    }
    .n {
        height: 36vh;
    }
    .men {
        height: 111vh;
    }
}

@media(max-width:850px){
    .m{
        height: 34vh;
    }
    .n{
        height: 34vh;
    }
    .men {
        height: 105vh;
    }
    .off {
        height: 27vh;
    }
}



@media(max-width:800px){
    .m{
        height: 49vh;
    }
    div#M3 {
        margin-left:18%;
    }
    
    div#M7 {
        margin-left:18%;
    }
    .n{
        height: 49vh;
    }
    .men {
        height: 164vh;
    }
    .off {
        height: 27vh;
    }
      #list {
        margin-left: -74%;
    }
    .fo1{margin-left: -37%;}
    .fo img {
        cursor: pointer;
        height: 123px;
        margin-top: -37%;
        margin-left: 246%;
    }
}

@media(max-width:750px){
    .men {
        height: 138vh;
    }
    .m {
        height: 45vh;
    }
    .n {
        height: 45vh;
    }
    .off {
        height: 25vh;
    }
}


@media(max-width:700px){
    .men {
        height: 130vh;
    }
    .of {
        height: 36vh;
    }
    .logo img {
        margin-top: -9%;
        margin-left: -1%;
    }
    .m {
        height: 42vh;
    }
    .n {
        height: 42vh;
    }
    .off {
        height: 23vh;
    }
    .fo{
        margin-left: 2%;
    }
    .fo1 {
        margin-left: -56%;
    }
    #list {
        margin-left: -91%;
    }
    h5{
        font-size: 17px;
    }
    .fo img {
        cursor: pointer;
        height: 123px;
        margin-top: -49%;
        margin-left: 262%;
    }
}

@media(max-width:650px){
    .fo {
        margin-left: -3%;
    }
    #list {
        margin-left: -101%;
    }
    .fo1 a{
        font-size: 30px;
    }
    .fo img {
        cursor: pointer;
        height: 123px;
        margin-top: -71%;
        margin-left: 268%;
    }
    .m {
        height: 39vh;
    }
    .n {
        height: 39vh;
    }
    .men {
        height: 119vh;
    }
    .off {
        height: 19vh;
    }
}

@media (max-width: 600px){
.off {
    height: 18vh;
}
.m {
    height: 35vh;
}
.n {
    height: 35vh;
}
.men {
    height: 108vh;
}
#list {
    margin-left: -122%;
}
.fo img {
    cursor: pointer;
    height: 123px;
    margin-top: -68%;
    margin-left: 262%;
}
.fo1{
    width: 75%;
    margin-left: -48%;
}
}


@media(max-width:550px){
    .men {
        height: 337vh;
    }
    .off {
        height: 16vh;
    }
    .of {
        height: 16vh;
    }
    .m {
        height: 66vh;
        margin-top: 34%;
        margin-left: 15%;
    }
    .n {
        height: 66vh;
        margin-top: 34%;
        margin-left: 15%;
    }
    div#M1 {
        margin-top: 10%;
    }
    div#M2 {
        margin-top: 10%;
    }
    div#M3 {
        margin-top: 10%;
    }
    div#M4 {
        margin-top: 10%;
    }
    div#M5 {
        margin-top: 10%;
    }
    div#M6 {
        margin-top: 10%;
    }
    div#M7 {
        margin-top: 10%;
    }
    div#M8 {
        margin-top: 10%;
    }
    h5 {
        font-size: 15px;
    }
    #list {
        margin-left: -53%;
        font-size: 13px;
    }
    h4 {
        margin-left: -4%;
    }
    .fo1 {
        margin-left: 30%;
        font-size: 10px;
        width: 46%;
        margin-top: -9%;
    }
    .fo img {
        cursor: pointer;
        height: 106px;
        margin-top: -18%;
        margin-left: 269px;
    }
    .fo {
        margin-left: 6%;
    }
}


@media(max-width:500px){
    #list {
        margin-left: -59%;
        font-size: 13px;
    }
    .fo1 {
        margin-left: 31%;
        font-size: 4px;
        width: 46%;
        margin-top: -14%;
    }
    .fo img {
        cursor: pointer;
        height: 95px;
        margin-top: -18%;
        margin-left: 259px;
    }
    .fo {
        margin-left: 4%;
    }
    .m {
        height: 60vh;
        margin-top: 26%;
        margin-left: 15%;
    }
    div#M1 {
        margin-top: 15%;
    }
    div#M2 {
        margin-top: 15%;
    }
    div#M3 {
        margin-top: 15%;
    }
    div#M4 {
        margin-top: 15%;
    }
    div#M5 {
        margin-top: 15%;
    }
    div#M6 {
        margin-top: 15%;
    }
    div#M7 {
        margin-top: 15%;
    }
    
}





@media (max-width:898px) {
    .checkbtn {
        display: block;
    }

    nav {
        width: 100%;
        margin-left: 0px;
        /* height: 60px; */

    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(255, 255, 255);
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    #find {
        display: none;
    }

    .ri-search-line {
        display: none;
    }

    nav ul li {
        display: block;
        margin-left: 10%;
    }

    nav ul li a {
        margin-right: 60px;
        font-size: 20px;
        color: black;
    }

    nav ul li a:hover {
        background: black;
        color: white;
    }

    a:hover,
    a.active {
        background: none;
        color: black;
    }

    #check:checked~ul {
        left: 0;
    }
}



@media(max-width:450px){
    #list {
        margin-left: -71%;
        font-size: 12px;
    }
    h4 {
        margin-left: -14%;
    }
    .fo1 {
        margin-left: 29%;
        font-size: 4px;
        width: 48%;
        margin-top: -18%;
    }
    .fo img {
        cursor: pointer;
        height: 84px;
        margin-top: -22%;
        margin-left: 229px;
    }
    .m {
        height: 53vh;
        margin-top: 26%;
        margin-left: 15%;
    }
    .n {
        height: 53vh;
        margin-top: 26%;
        margin-left: 15%;
    }
    .logo img {
        margin-top: -15%;
        margin-left: -1%;
    }
    div#M1 {
        margin-top: -35%;
    }
    div#M2 {
        margin-top: -35%;
    }
    div#M3 {
        margin-top: -35%;
    }
    div#M4 {
        margin-top: -35%;
    }
    div#M5 {
        margin-top: -35%;
    }
    div#M6 {
        margin-top: -35%;
    }
    div#M7 {
        margin-top: -35%;
    }
    div#M4 {
        margin-top: 9%;
    }
    .off {
        height: 14vh;
        margin-top: -48%;
    }
    
}


@media(max-width:400px){
    .logo img {
        margin-top: -18%;
        margin-left: -5%;
    }
    .fo1 a {
        font-size: 18px;
    }
    h4 {
        margin-left: -17%;
    }
    #list {
        margin-left: -83%;
        font-size: 12px;
    }
    .fo1 {
        margin-left: 39%;
        font-size: 4px;
        width: 65%;
        margin-top: -23%;
    }
    .fo img {
        cursor: pointer;
        height: 63px;
        margin-top: -12%;
        margin-left: 150px;
    }
    h5 {
        font-size: 12px;
    }
    .m {
        height: 46vh;
        margin-top: 29%;
        margin-left: 15%;
    }
    .n {
        height: 46vh;
        margin-top: 29%;
        margin-left: 15%;
    }
    div#M1 {
        margin-top: -68%;
    }
    div#M2 {
        margin-top: -68%;
    }
    div#M3 {
        margin-top: -68%;
    }
    div#M4 {
        margin-top: 11%;
    }
    div#M5 {
        margin-top: -71%;
    }
    div#M6 {
        margin-top: -71%;
    }
    div#M7 {
        margin-top: -71%;
    }
    .footer {
        height: 44vh;
        margin-top: -40%;
    }
    .men {
        height: 279vh;
    }
    .off {
        height: 14vh;
        margin-top: -72%;
    }
}


@media(max-width:350px){
    h5 {
        font-size: 10px;
    }
    .m {
        height: 40vh;
        margin-top: 29%;
        margin-left: 15%;
    }
    
    .n {
        height: 40vh;
        margin-top: 29%;
        margin-left: 15%;
    }
    .off {
        height: 10vh;
        margin-top: -72%;
    }
    
        
    h4 {
        margin-left: -23%;
        font-size: 12px;
    }
    #list {
        margin-left: -110%;
        font-size: 12px;
    }
    .fo1 a {
        font-size: 30px;
    }
    .fo1 {
        margin-left: 36%;
        font-size: 4px;
        width: 65%;
        margin-top: -25%;
    }
    .fo img {
        cursor: pointer;
        height: 67px;
        margin-top: 21%;
        margin-left: 62px;
    }
    .footer {
        height: 49vh;
        margin-top: -40%;
    }
}